body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

.sidebar{
  margin-left:0px;
  margin-bottom:40px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:40px;
  max-width:100%;
}
.picture img{
  margin-right: 20px;
}

/*navbar header*/
.navbar{
  margin-bottom:40px;
  border-bottom:solid 1px #ddd;
}


.navbar-nav{
  padding:20px;
  
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  font-size: 30px;

}

h2,
h3 {
  font-size: 22px;
}

/*name in header*/
#name{
  
  height: 90px;
  padding-top:0px;
  padding-left:20px;
  padding-right:20px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;

}

/* main*/ 

.main-section {
  max-width:95%;
  margin-left:12px;
  margin-right:35px;
  margin-bottom:35px;
  padding-left:25px;
  background: #fff;
  border: 1px solid #ddd;
}


/*stackoverflow logo*/
#stackoverflow {
  margin-right: 0;
  padding-left:0px;
}

/*footer*/
footer {
  padding: 30px 0;
  /*clear: both;*/
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}


/*portfolio page*/


.img-responsive{

  margin-bottom:20px;
}

.work h3 {
  position:absolute;
  bottom: 30px;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

#game{
  width:92%;
  margin-left:0%;
  margin-right:10%;
}

/*media queries*/

@media screen and (max-width: 992px) {
  #connect{
    text-align: left;
  }
  .sidebar{
    padding-left:5%;
  }

}